.faq-sec{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq-badge{
    text-align: center;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 10px 20px;
    color: #333333;
    font-family: "Outfit";
    font-size: 18px;
    width: 239px;
    margin: 0 auto;
}
.faq-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.faq-header h2{
    font-family: "Raleway";
    font-weight: 700;
    font-style: Bold;
    font-size: 58px;
    text-align: center;
    color: #1A1A1A;
    margin-top: 19px;
    margin-bottom:19px ;
}
.faq-header p{
    max-width: 992px;
    font-family: "Outfit";
    font-style: Medium;
    font-size: 20px;
    text-align: center;
    color: #333333;
    margin-bottom: 100px;
}
.faq-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: start;
}
.faq-item{
    max-width: 771px;
    border: 2px solid #262626;
    border-radius: 12px;
    background-color: #FFEFE5;
    padding-left: 40px;
    padding-bottom: 40px;
}
.faq-item.open{
    background-color: #FFFFFF;
}
.faq-item.open .faq-question span{
    text-decoration: underline;

}
.faq-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    padding-left:40px ;
    padding-right: 110px;
    padding-bottom: 37.5px;
    padding-top: 37.5px;
}
.faq-question span{
    font-family: "Outfit";
    font-weight: 600;
    font-style: "SemiBold";
    font-size: 22px;
    max-width: 621px;

}
.faq-icon{
    background-color: #FFF5F0;
    border: 2px solid #262626;
    border-radius: 6px;
    padding: 8px 8px;
    margin-left: 30px;
    margin-right: 40px;
}
.faq-answer{
    font-family: "Outfit";
    font-weight: 500;
    font-size: 20px;
    color: #333333;
    max-width: 621px;
}
@media screen and (max-width:1440px){
    .faq-badge{
        font-size: 16px;
    }
    .faq-header h2{
        font-size: 48px;
    }
    .faq-header p{
        font-size: 16px;
    }
    .faq-question{
        font-size: 16px;
    }
}

@media screen and (max-width:992px){
    .faq-sec{
        margin-left: 4.5px;
        margin-right: 4.5px;
    }
    .faq-badge{
        font-size: 14px;
    }
    .faq-header h2{
        font-size: 38px;
    }
    .faq-header p{
        max-width: 358px;
    }
    .faq-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }
    .faq-item{
        width: 100%;

    }
    .faq-answer{
        max-width: 310px;
    }
    
}